*{ 
    margin: 0;
    padding: 0;
    /* font-family: Garamond, serif; */
    /* font-family: 'Source Sans Pro', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    line-height: 1.4;
    font-weight: 300;
    letter-spacing: 0px;
}

p{
    margin: 5px 0px;
}

strong {
    font-weight: 600;
    /* color: red; */
}

.page{
    /* background-color:#f8f8f8; */
    background-color:white;
}

.title_background{
    padding: 30px;
    overflow: auto;
    /* background-color:#0c6772; */
    color: black;
}

.title_container{
    max-width:1000px;
    margin: auto;
}

.left{
    margin-top: 1px;
    margin-bottom: 1px;
    /* float:left; */
    text-align: left;
    /* width: 66%; */
}

.publ_left{
    margin-top: 1px;
    margin-bottom: 1px;
    /* padding-left: 10px;  */
    /* float:left; */
    text-align: left;
    /* width: 66%; */
}

.row div {
    padding: 20px 10px 20px 10px;
    /* border-bottom: 1px solid lightgrey; */
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 0px;
}

.row img {
    max-width: 250px;
    margin: auto;
    display: block;
    border: 1px solid black;
}

.row a {
    color: rgb(124, 124, 124);
    letter-spacing: 0px;
    text-decoration: none;
}

#paper_title {
    color: #971632;
}

/* .right{
    float:right;
    width: 33%;
} */

.table{
    font-size: 15px;
    border-spacing: 20px;
}

#name{
    font-size: 40px;
    /* font-family: 'Courier New', monospace; */
    /* font-family: 'Playfair Display', serif; */
    font-family: 'Roboto', sans-serif;
}

#page_links{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    /* font-family: 'Courier New', monospace; */
    /* font-family: 'Playfair Display', serif; */
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color:black;
    text-decoration: none;
}

#page_links_active{
    border-bottom: 1.5px solid #971632;
    color: #971632;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    /* font-family: 'Courier New', monospace; */
    /* font-family: 'Playfair Display', serif; */
    font-family: 'Roboto', sans-serif;
    text-align: center;
    text-decoration: none;
}

#page_links:hover{
    color: #971632;
}

#description{
    font-size: 20px;
}

#pic{
    /* float: right; */
    /* width: 260px; */
    max-width: 260px;
    width: 100%;
    display: block;
    margin: auto;
}

#resourcetitle{
    font-size: 20px;
    /* color: #0c6772; */
    /* text-decoration: none; */
}

.content_container{
    max-width:800px;
    margin: auto;
    padding: 25px;
    /* color: rgb(133, 133, 133); */
    color: black;
}

.header{
    font-size: 30px;
    text-align: center;
    padding: 20px;
    /* color: rgba(255, 40, 86, 0.671); */
}

.date{
    font-size: 20px;
    /* text-align: center; */
    padding: 15px 0px;
    /* color: rgba(255, 40, 86, 0.671); */
}

hr{
    margin: 0px 0px 0px 0px;
}

/* emph{
    color: #0c6772;
} */

.text{
    /* padding:0.01em 16px */
    font-size: 15px;
    
}

.text a{
    /* color: rgba(255, 40, 86, 0.671); */
    color: rgb(124, 124, 124);
    text-decoration: none;
}

.links a {
    font-size: 15px;
    /* font-family: sans-serif; */
    /* font-family: 'Source Sans Pro', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    text-decoration: none;
    color: white;
}

a:hover{
    color: #971632;
}

.item{
    color:black;
    /* float: left; */
    width: 35px;
}

#items{
    font-size: 30px;
}

.item:hover{opacity:0.60}

.divider
{
	position: relative;
	margin-top: 10px;
	height: 1px;
}

.div-transparent:before
{
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}

.div-dot:after
{
	content: "";
	position: absolute;
	z-index: 1;
	top: -9px;
	left: calc(50% - 9px);
	width: 18px;
	height: 18px;
	background-color: #971632;
	border: 1px solid rgb(48,49,51);
	border-radius: 50%;
	box-shadow: inset 0 0 0 2px white,
					0 0 0 4px white;
}

@media (min-width:851px){
    .left{width:40%;float: left; text-align: left;}
    /* .middle{width:70%;float: left; text-align: left;} */
    .right{width:60%;float: right;}
}

@media (min-width:851px){
    .publ_left{width:20%;float: left; text-align: left;}
    /* .publ_middle{width:70%;float: left; text-align: left;} */
    .publ_right{width:80%;float: right;}
}